@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,200&display=swap');
@import url('../css/colors.css');

*{
    margin: 0px;
    padding: 0px;
}
nav {
    font-size: 15px;
    font-weight: 1000;
    position: fixed;
    display: grid;
    font-family: "Montserrat";
    font: bold;
    z-index: 1;
    height: 4rem;
    width: 100vw;
    place-content: center;
    box-shadow: 10px 0px 20px;
   background-color: white;
   z-index: 2;
   
}

.logo {
    position: absolute;
    top: 20%;
    left: 2%;
    width: 12vw;
    height: 6vh;
    background-size: cover;
}

.signin {
    width: 7vw;
    height: 4vh;
    display: grid;
    place-content: center;

}

.signin a {
    
    font-family: "Montserrat";font-size: .8rem;
    text-decoration: none;
    color: black;
}

.signin a:hover {
    color: green;
}
.other {
    position: absolute;
    width: 15vw;
    height: 6vh;
    left: 83%;
}

.other span {
    margin-left: 15%;
    margin-top: 3%;
    cursor: pointer;


}


.navbarposition {
    
    display: flex;
    width: 70vw;
    height: 5vh;

}

.navbarposition ul li {
    float: left;
    padding: 10px 20px;
    list-style: none;
}
.navbarposition ul li a:hover {
    border-bottom: 2px solid orangered;
}

.navbarposition ul li a {
  
    text-decoration: none;
    color: black;
}

#search:hover {
    color: rgb(80, 80, 255);
}

#heart:hover {
    color: red;
}

#bag:hover {
    color:brown;
}


.activated{
    border-bottom: 2px solid red;
}