
.banner{
    margin-left: 10%;
    width: 80vw;
    height: 60vh;
    display: flex;
    overflow: hidden;
    border: 1px solid;
    overflow-x: scroll;
}
.banner-same{
    margin-top: 1rem;
    width: 100vw;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.common_banner{
    height: 100%;
    width: fit-content;
}
.banner2{
    margin-left: 5%;
    width: 90%;
}
.discount_banners{
    background-color: rgb(248, 244, 244);
    width: 90vw;
    height: 30vw;
    margin-left: 5vw;
    display:flex ; 
    justify-content:  space-evenly;
    overflow: hidden;
}
.discount_banners a img{
    height: 100%;
    transition: .3s;
    
}
.discount_banners a img:hover{
    height: 120%;
    
}
.WomenProducts{
    margin: 5vw 10vw;
    width: 80vw;
    height:70vh;
    border: 1px solid;
    padding: 1rem;
    overflow-y: auto;
    
}
.end{
    margin-left: 10%;
    width: 80vw;
    height: 20vh;
    margin-bottom: 5vh;
    display: flex;
    overflow: hidden;
    border: 1px solid;
}
